div {
    max-width: 60%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

body {
    background-image: url("station.jpeg");
    background-size: cover;
    font-family: Arial, Verdana, Serif;
    font-weight: bold;
    text-align: center;
    height: calc(100vh - 1px);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
